<div class="header">
    <div class="container text-vcenter">
        <div class="row">
            <div class="col-sm-12">
                <h1>good food</h1>
            </div>
        </div>
    </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="before-about" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4><span class="hidden-xs">* </span>Quality Classic American Comfort Food<span class="hidden-xs"> *</span><br>
      </div>
    </div>
  </div>
</div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Morning Faves</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.morningfaves }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Griddle Greats</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.griddlegreats }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Lighter Fare</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.lighterfare }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Omelettes</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>all our omelettes are made with four AA eggs and come with choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin<br>omelettes can be made with cholesterol free egg substitutes or egg whites</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.omelettes }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Eggers</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>served with your choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin, &amp; hash browns or American fries</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.eggers }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Breakfast Extras</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.breakfastextras }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>lunch / dinner</h1>
      </div>
    </div>
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Entrées</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>all entrées served with choice of two sides:<br>potato, applesauce, salad, coleslaw, vegetable, or cottage cheese</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.entrees }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">South of the Border</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.southoftheborder }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Salads</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>choice of dressing: Homemade 1000 Island, Ranch, Bleu Cheese, Red French, Honey Mustard, Italian, Fat-Free Raspberry Vinaigrette</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.salads }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Comfort Food</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.comfortfood }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Lunch Baskets</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.lunchbaskets }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Sandwiches</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>served with potato chips substitute French fries $2.00 or onion rings $4.00</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.sandwiches }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Deli Style Sandwiches &amp; Wraps</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>served with potato chips substitute French fries $2.00 or onion rings $4.00<br>all sandwiches available as a wrap</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.delisandwiches }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Burgers</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>burgers are 1/3 lb. and served with fries and pickles substitute onion rings $2.00</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.burgers }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Lunch Extras</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.lunchextras }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Senior Specials</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>55 years or older<br>all meals are smaller portions and served with choice of two sides: potato, applesauce, salad, coleslaw, vegetable, or cottage cheese<br>beverages $1.49 with dinner</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.seniorspecials }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Soups</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.soups }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Sweet Spot</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.sweetspot }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>good friends</h1>
      </div>
    </div>
  </div>
</div>
