<div class="header">
    <div class="container text-vcenter">
        <div class="row">
            <div class="col-sm-12">
                <h1>good food</h1>
            </div>
        </div>
    </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="before-about" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4><span class="hidden-xs">* </span>Quality Classic American Comfort Food<span class="hidden-xs"> *</span><br>
      </div>
    </div>
  </div>
</div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Morning Faves</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.morningfaves }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Griddle Greats</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.griddlegreats }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Lighter Fare</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.lighterfare }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Breakfast Extras</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfastextras }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Omelettes</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>all our omelettes are made with four AA eggs and come with choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin<br>omelettes can be made with cholesterol free egg substitutes or egg whites</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.omelettes }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Eggers</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>served with your choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin, &amp; hash browns or American fries</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.eggers }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer text-vcenter col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Lunch/Dinner Menu Coming Soon...</h2>
    <div class="row col-lg-12 text-center">
      <p>Until then, please view full PDF menu <a href="img/menu.pdf" target="_blank">here</a></p>
    </div>
  </div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>good friends</h1>
      </div>
    </div>
  </div>
</div>
  <!-- /second section -->
