<div class="header">
    <div class="container text-vcenter">
        <div class="row">
            <div class="col-sm-12">
                <h1>good food</h1>
            </div>
        </div>
    </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="before-about" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4><span class="hidden-xs">* </span>Quality Classic American Comfort Food<span class="hidden-xs"> *</span><br>
      </div>
    </div>
  </div>
</div>
  <div class="row col-lg-12 text-center pad-section">
    <a class="btn btn-primary" href="https://www.toasttab.com/steak-n-egger-1535-holton-rd/v3">Order Online</a>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Morning Faves</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.morningfaves }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Griddle Greats</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.griddlegreats }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Lighter Fare</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.lighterfare }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Omelettes</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>all our omelettes are made with four AA eggs and come with choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin<br>omelettes can be made with cholesterol free egg substitutes or egg whites</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.omelettes }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Eggers</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>served with your choice of wheat, white, sourdough, raisin, rye, Texas, or English muffin, &amp; hash browns or American fries<br>* Excludes Hash and Eggs</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.eggers }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Breakfast Extras</h2> <hr />
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.breakfastextras }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="container menuContainer col-md-8 col-md-offset-2">
    <h2 class="menuTitle">Kids</h2> <hr />
    <div class="row col-lg-12 text-center">
      <p>All meals come with soda, milk, or juice included<br>12 and under only please</p>
    </div>
    <div class="row col-lg-12">
      {{ range $.Site.Data.menu.breakfast.kids }}
        {{ partial "menu-item.html" . }}
      {{ end }}
    </div>
  </div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>lunch / dinner</h1>
      </div>
    </div>
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Entrées</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>all entrées served with choice of two sides:<br>potato, applesauce, salad, coleslaw, vegetable, or cottage cheese</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.entrees }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">South of the Border</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.southoftheborder }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Salads</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>choice of dressing: Homemade 1000 Island, Ranch, Bleu Cheese, Red French, Honey Mustard, Italian, Fat-Free Raspberry Vinaigrette</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.salads }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Comfort Food</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.comfortfood }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Lunch Baskets</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.lunchbaskets }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Sandwiches &amp; Wraps</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>served with potato chips but can substitute French fries, sweet potato fries, or onion rings with an upcharge<br>all sandwiches available as a wrap</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.sandwiches }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Burgers</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>burgers are 1/3 lb. and served with fries and pickles substitute sweet potato fries or onion rings with an upcharge</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.burgers }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Lunch Extras</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.lunchextras }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Senior Specials</h2> <hr />
<div class="row col-lg-12 text-center">
  <p>55 years or older<br>all meals are smaller portions and served with choice of two sides: potato, applesauce, salad, coleslaw, vegetable, or cottage cheese</p>
</div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.seniorspecials }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Soups</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.soups }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Beverages</h2> <hr />
  <div class="row col-lg-12 text-center">
    <p>*free refills on coffee, tea, and soft drinks in house only</p>
  </div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.beverages }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Sweet Spot</h2> <hr />
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.sweetspot }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div class="container menuContainer col-md-8 col-md-offset-2">
  <h2 class="menuTitle">Kids</h2> <hr />
  <div class="row col-lg-12 text-center">
    <p>All meals come with soda, milk, or juice include also served with fries, fruit or apple sauce<br>12 and under only please</p>
  </div>
  <div class="row col-lg-12">
    {{ range $.Site.Data.menu.lunchdinner.kids }}
      {{ partial "menu-item.html" . }}
    {{ end }}
  </div>
</div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>good friends</h1>
      </div>
    </div>
  </div>
</div>
