{{ partial "header.html" . }}
<body id="menu">
{{ partial "facebook-SDK.html" . }}
{{ partial "navbar.html" . }}
<!-- first section - Home -->
<div class="header">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>good food</h1>
      </div>
    </div>
  </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="before-about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4><span class="hidden-xs">* </span>Quality Classic American Comfort Food<span class="hidden-xs"> *</span><br>
      </div>
    </div>
  </div>
</div>
<div id="about" class="pad-section">
  <div class="container">
    <h2 class="text-center">Our New Menu Is Coming Soon...</h2> <hr />
    <div class="row text-center">
      <p>Please take a look at our current menu: <a class="hidden-md hidden-lg" href="img/menu.pdf">Here</a></p>
      <embed class="hidden-xs hidden-sm" src="img/menu.pdf" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">

    </div>
  </div>
</div>
<div id="after-menu" class="pad-section">
  <div class="container text-vcenter">
    <div class="row">
      <div class="col-sm-12">
          <h1>good friends</h1>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

{{ partial "footer.html" . }}
